body{
	background-color: #ccc;
}

/* .galleria {
	width: 700px;
	height: 700px;
	background: #000;
} */
.gallery-container{
	display: flex;
	justify-content: center;
	gap: 50px;
}

.galleria-theme-classic {
	position: relative;
	overflow: hidden;
	background: #222;
}